$purple: #9c27b0;

.fa-plus {
    color:  $purple;
}

.fa-times {
    color: $purple;
}

.list-group-new-item {
    cursor: pointer;
}

form {
    margin-bottom: 0 !important;
}

.add-to-do {
    color: $purple;
}