<div class="col-12">
    <div class="card">
        <div class="card-header card-header-primary">Login</div>
        <div class="card-body">
            <form (submit)="signIn()">
                <div class="row form-group">
                    <input type="email" class="form-control" [formControl]="emailInput" placeholder="Email Address">
                    <span *ngIf="emailInput.touched && emailInput.invalid" class="form-control-feedback">Invalid or missing email</span>
                </div>        
                <div class="row form-group">
                    <input type="password" class="form-control" [formControl]="passwordInput" placeholder="Password">
                    <span *ngIf="passwordInput.touched && passwordInput.invalid" class="form-control-feedback">Password is required</span>
                </div>  
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Sign In</button>
                </div>   
            </form>
            <div class="alert alert-danger" *ngIf="accessDenied">
                Invalid Credentials
            </div>
        </div>
    </div>
</div>